<html>
    <head>
        <meta charset="UTF-8">
        <title>yiffOS Packages</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="./css/main.css">

        <meta name="description" content="Official package directory of yiffOS's repositories.">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://packages.yiffos.gay/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="yiffOS Packages">
        <meta property="og:description" content="Official package directory of yiffOS's repositories.">
        <meta property="og:image" content="https://gitlab.com/yiffos/misc/branding/-/raw/main/yiffOSBanner-dark.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="packages.yiffos.gay">
        <meta property="twitter:url" content="https://packages.yiffos.gay/">
        <meta name="twitter:title" content="yiffOS Packages">
        <meta name="twitter:description" content="Official package directory of yiffOS's repositories.">
        <meta name="twitter:image" content="https://gitlab.com/yiffos/misc/branding/-/raw/main/yiffOSBanner-dark.png">

    </head>
    <body>
        <header class="container" style="padding-bottom: 0em;">
            <nav>
                <ul>
                    <li><a href="/"><h1>yiffOS Packages</h1></a></li>
                </ul>
                <ul>
                    <li><input type="search" id="search" name="search" placeholder="Search"></li>
                </ul>
              </nav>
        </header>
        <main class="container" style="padding-top: 0em; flex: 1;">
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">Repo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in packages %}
                        <tr>
                            <th scope="row">{{ package.repo }}</th>
                            <th scope="row"><a href="/{{ package.name }}">{{ package.name }}</a></th>
                            <td>{{ package.version }}</td>
                            <td>{{ package.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer class="container">
            {% let packages_amount = packages.len() %}
            <hr />
            <p>
                Hosting 
                <span>{{ packages_amount }}</span> 
                package{% if packages_amount != 1 %}s{% endif %}
                 &mdash; 
                Packages are updated every 30 minutes.
            </p>
        </footer>
    </body>
    <script src="./js/main.js"></script>
</html>